<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <h4 class="modal-title" id="myModalLabel">Someone accepted your answer</h4><br />
        
        <span><%= link_to 'Decline', @answer, method: :delete, class: "btn", id: "modal-decline" %></span>
        <span><%= link_to "Accept", @answer, class: "btn", id: "modal-accept" %></span>
    </div>
  </div>
</div>