<tr>
	<td><%= answer.user.username %></td>
 	<td><%= answer.user.avg_rating %></td>
 	<td><%= answer.minutes_ago %></td>
 	<td>
 		<% if answer.question.user_id == current_user.id %>
 			<%= link_to 'Accept', answer_path(answer_id: answer.id, question_id: answer.question.id), method: :patch %>
 		<% end %>
 	</td>
</tr>