<div id="answer-index-header">
	<h2>Your Answers</h2>
</div>
<div id="answer-index-table">	
	<table class="table">
		<thead>
			<th>Answer Status</th>
			<th>Duration</th>
			<th>Date</th>
			<th>Question</th>
			<th>Question Status</th>
			<th>Show</th>
		</thead>
		<tbody>
			<% @answers.each do |a| %>
				<tr>
					<td>
				 		<% if a.accepted %>
				 			Accepted
				 		<% else %>
				 			Pending
				 		<% end %>
				 	</td>
				 	<td><%= "#{a.duration} seconds" %></td>
				 	<td><%= a.created_at %></td>
				 	<td><%= a.question.body %></td>
				 	<td>
				 		<% if a.question.answered %>
				 			Answered	
				 		<% else %>
				 			Not Answered
				 		<% end %>
				 	</td> 	
				 	<td><%= link_to 'show', answer_path(a) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
