/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@font-face {
  font-family: "gonjuring";
  src: font-url("gonjuring.ttf") format("truetype");
}
@font-face {
	font-family: "arkhip";
	src: font-url("arkhip.ttf") format("truetype");
}

body {
	color: white;
	text-align: center;
	/*background-color: black;*/
	background-color: #660066;
}

a {
	color: white;
}

a:hover {
	color: #33cc33;
	text-decoration: none;
}

.container {
	border: solid;
	border-color: #999999;
	min-height: 500px;
	background-color: #cccccc;
	border-radius: 10px;
}

.btn {
	background-color: black;
	/*background-color: #33cc33;*/
	color: white;
	border-color: gray;
	.sign-out {
		background-color: white;
	}
}

.btn:hover {
	color: green;
}

.table {
	color: black;
}

h2 {
	color: black;
}

input {
	color: black;
}

.navbar-header {
	font-family: "arkhip";
}

ul {
	list-style-type: none;
}